<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Goals</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<form th:object="${goals}" th:action="@{/update/goals/daily/save}" method="post">

    <div class="container center_div">

        <h2>Change your Goals:</h2>


        <div class="col-md-6 form-group">
            <label>Calories:</label>
            <input type="text" class="form-control" th:field="*{calories}" th:text="'Currently: '+${customizedDailyGoals.get('Calories')+'kcal'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Sugars:</label>
            <input type="text" class="form-control" th:field="*{sugars}" th:text="'Currently: '+${customizedDailyGoals.get('Sugars')+'g'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Fat:</label>
            <input type="text" class="form-control" th:field="*{fat}" th:text="'Currently: '+${customizedDailyGoals.get('Fat')+'g'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Sodium:</label>
            <input type="text" class="form-control" th:field="*{sodium}" th:text="'Currently: '+${customizedDailyGoals.get('Sodium')+'mg'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Fiber:</label>
            <input type="text" class="form-control" th:field="*{fiber}" th:text="'Currently: '+${customizedDailyGoals.get('Fiber')+'g'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Protein:</label>
            <input type="text" class="form-control" th:field="*{protein}" th:text="'Currently: '+${customizedDailyGoals.get('Protein')+'g'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Potassium:</label>
            <input type="text" class="form-control" th:field="*{potassium}" th:text="'Currently: '+${customizedDailyGoals.get('Potassium')+'mg'}">
        </div>

        <div class="col-md-6 form-group">
            <label>Carbs:</label>
            <input type="text" class="form-control" th:field="*{carbs}" th:text="'Currently: '+${customizedDailyGoals.get('Carbs')+'g'}">
        </div>

        <br>
        <br>

        <div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>

    </div>

</form>

</body>
</html>