<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<h2 class="analytics-main" style="text-align: center">Nutrients consumed last week</h2>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
            <div class="card bg-success" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Calories</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Calories')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Calories')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Calories')+'kcal'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Sugars</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Sugars')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Sugars')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Sugars')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Fat</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Fat')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Fat')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Fat')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-success" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Sodium</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Sodium')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Sodium')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Sodium')+'mg'}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
            <div class="card bg-success" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Fiber</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Fiber')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Fiber')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Fiber')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Protein</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Protein')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Protein')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Protein')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Potassium</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Potassium')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Potassium')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Potassium')+'mg'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-success" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Carbs</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisWeek.get('Carbs')}" th:style="'width: '+${currentWeeklyProgressPercentage.get('Carbs')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+goals.get('Carbs')+'g'}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="light">

<h2 class="analytics-main" style="text-align: center">Nutrients consumed last month</h2>

<hr class="light">

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
            <div class="card bg-warning" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Calories</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Calories')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Calories')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Calories')+'kcal'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Sugars</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Sugars')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Sugars')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Sugars')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Fat</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Fat')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Fat')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Fat')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-warning" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Sodium</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Sodium')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Sodium')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Sodium')+'mg'}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
            <div class="card bg-warning" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Fiber</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Fiber')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Fiber')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Fiber')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Protein</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Protein')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Protein')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Protein')+'g'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Potassium</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Potassium')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Potassium')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Potassium')+'mg'}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-warning" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Carbs</h3>
                    <h5 style="text-align: center">Progress</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:text="${nutrientsConsumedThisMonth.get('Carbs')}" th:style="'width: '+${currentMonthlyProgressPercentage.get('Carbs')}+'%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p style="text-align: center" th:text="${'/'+mgoals.get('Carbs')+'g'}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>