<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">Food Results</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Serving Unit</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Serving Quantity</th>
                            <th scope="col">Tag ID</th>
                            <th scope="col">Locale</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${baseProductList}">
                            <td th:text="${item.food_name}">Mark</td>
                            <td th:text="${item.serving_unit}">Otto</td>
                            <td th:text="${item.tag_name}">Otto</td>
                            <td th:text="${item.serving_qty}">Otto</td>
                            <td th:text="${item.tag_id}"></td>
                            <td th:text="${item.locale}"></td>
                            <td><a href="#" th:href="@{'/logger/product_query/detailed_query/'+ ${item.food_name}}" class="btn btn-info" role="button">View Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>