<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Nutritionix</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<h2 class="analytics-main" style="text-align: center">Search for Foods here</h2>
<br>

<hr class="light">

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card" title="table-card">
                <div class="card-body">
                    <form th:object="${NutritionixBaseProduct}" th:action="@{/logger/product_query}" method="get">
                        <fieldset>
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="searchformrow">
                                            <div class="col-md-10 form-group mx-auto">
                                                <label class="form-label">Name:</label>
                                                <input type="text" class="form-control" th:field="*{food_name}"/>
                                                <small id="nutritionixSmall">Results will show the top 20 hits for your query.</small>
                                            </div>
                                        </div>
                                        <input type="hidden" th:field="*{serving_unit}">
                                        <input type="hidden" th:field="*{tag_name}">
                                        <input type="hidden" th:field="*{serving_qty}">
                                        <input type="hidden" th:field="*{tag_id}">
                                        <input type="hidden" th:field="*{locale}">
                                        <div class="col-md-6 searchformrow mx-auto">
                                            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>