<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body style="background-color: darkorange">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/homepage">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid padding">

    <h2 class="analytics-main" style="text-align: center">Sign up for FoodLogger</h2>

    <hr class="light">

    <br>

    <div class="row padding">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card" title="table-card">
                <div class="card-body">
                    <form th:object="${user}" th:action="@{/user/save}" method="post">

                        <div class="container center_div">

                            <input type="hidden" th:field="*{id}">

                            <div class="col-md-6 form-group" th:class="${#fields.hasErrors('firstName')}
                                        ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                <label>First Name:</label>
                                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                                     </ul>
                                </span>
                            </div>

                            <div class="col-md-6 form-group" th:class="${#fields.hasErrors('lastName')}
                                        ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                <label>Last Name:</label>
                                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-6 form-group" th:class="${#fields.hasErrors('username')}
                                        ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                <label>Username:</label>
                                <input type="text" class="form-control" th:field="*{username}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('username')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-6 form-group" th:class="${#fields.hasErrors('email')} ?
                                        'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                <label>Email:</label>
                                <input type="email" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Enter Email Again:</label>
                                <input type="email" class="form-control" th:field="*{emailCheck}">
                            </div>

                            <div class="col-md-6 form-group" th:class="${#fields.hasErrors('password')} ?
                                        'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                <label>Password:</label>
                                <input type="password" class="form-control" th:field="*{password}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Enter Password Again:</label>
                                <input type="password" class="form-control" th:field="*{passwordCheck}">
                            </div>

                            <div>
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid padding bg-light">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Contact Us:</h5>
                <hr class="light">
                <p>Email: yourname@mail.com</p>
                <p>Contact Number: 614-000-0000</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Your profile:</h5>
                <hr class="light">
                <a href="/profile">Log food and check statistics</a><br><br>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Admin</h5>
                <hr class="light">
                <a href="#">Test</a><br><br>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>github.com/murphy1</h5>
            </div>
        </div>
    </div>
</footer>

</body>
</html>